<br /><br />
<div style="display:inline">
    <img src="~/Content/FONDO2.jpg" width="100%" height="300" style="position:relative; z-index:0"/>
 </div>

<br />
<div class="row">
    <div class="col-md-4">
        <h2>Distrito</h2>
        <p>Conoce como va la produccion en distintos sectores de tu localidad</p>
        <a href='@Url.Action("Index", "Distrito")' class="btn btn-success" role="button">Ver mas</a>
    </div>
    <div class="col-md-4">
        <h2>Ciclo Lunar</h2>
        <p>¿Aun es tiempo de cultivar segun la Luna?</p>
        <p><a href='@Url.Action("Index", "CicloLunar")' class="btn btn-success">Ver mas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticias</h2>
        <p>Enterate lo ultimo sobre tu rubro dentro de nuestro portal informativo</p>
        <p><a href='@Url.Action("Index", "Noticias")' class="btn btn-success">Ver mas</a></p>
    </div>
    
</div>
